QWidget {
        background-color: #FFFFFF;
        color: #000000;
}

QPushButton:pressed {
        background: #000000;
        color: #FFFFFF;
}

QPushButton {
    background: blue;
    border-color: #000000;
    color: #FFFFFF;
    border-style: outset;
    border-width: 1px;
}

QPushButton#post:pressed {
        background: #D3D3D3;
}

QPushButton#post {
    background: #800000;
    border-color: #000000;
    border-style: outset;
    border-width: 3px;
    color: white;
}

QPushButton#accent:pressed {
        background: #D3D3D3;
}

QPushButton#accent {
    background: #800000;
    border-color: #808080;
    border-style: outset;
    border-width: 2px;
    color: white;
}

QLineEdit#green {
    border: none;
    color:#006400;
}

QLineEdit#red {
    border: none;
    color: #FF4500;
}

QLineEdit#blue {
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    color: blue;

}

QLabel#blueLabel {
    color: blue;
}


